# This is a configuration file for Direnv <https://direnv.net/>

# If needed, you can add your own local config to .envrc.local
source_env_if_exists .envrc.local
# This causes direnv to reload if any nix file changes
watch_file nix/*.nix
# You may wish to add this to .envrc.local, but it can get annoying:
# watch_file taffybar.cabal

# Uses devShells.<system>.default from flake.nix
use flake .
