language: haskell
ghc:
  - 7.4
  - 7.6
  - 7.8
addons:
  apt:
    packages:
      - libgmp-dev
      - libgtk2.0-dev
      - libcairo2-dev
      - libglib2.0-dev
before_install:
  - cabal install 'cabal-install >= 1.22'
  - cabal install alex happy
  - cabal install gtk2hs-buildtools
install:
  - cabal sandbox init
  - cabal install 'Cabal >= 1.22'
  - cabal install --only-dependencies --enable-tests
before_script:
  - cabal configure --enable-tests
  - cabal build
script:
  - cabal test --show-detail=always
