
style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"
  color["green"] = "#00ff00"
  color["red"]   = "#ff0000"

  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @green
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"
