
style "taffybar-default" {
  color["black"] = "#000000"
  color["white"] = "#ffffff"
  color["green"] = "#00ff00"
  color["red"]   = "#ff0000"

  bg[NORMAL]   = @black
  fg[NORMAL]   = @white
  text[NORMAL] = @white
  fg[PRELIGHT] = @green
  bg[PRELIGHT] = @black
}

style "taffybar-active-window" = "taffybar-default" {
  fg[NORMAL] = @green
}

style "taffybar-notification-button" = "taffybar-default" {
  text[NORMAL] = @red
  fg[NORMAL]   = @red
}

style "taffybar-workspace-border-active" = "taffybar-default" {
  bg[NORMAL] = @white
}
style "taffybar-workspace-border-visible" = "taffybar-default" {
  bg[NORMAL] = @white
}
style "taffybar-workspace-border-empty" = "taffybar-default" {
  bg[NORMAL] = @white
}
style "taffybar-workspace-border-hidden" = "taffybar-default" {
  bg[NORMAL] = @white
}
style "taffybar-workspace-border-urgent" = "taffybar-default" {
  bg[NORMAL] = @white
}

widget "Taffybar*" style "taffybar-default"
widget "Taffybar*WindowSwitcher*label" style "taffybar-active-window"
widget "*NotificationCloseButton" style "taffybar-notification-button"

widget "*Workspace-Border-*-active*"     style "taffybar-workspace-border-active"
widget "*Workspace-Border-*-visible*"    style "taffybar-workspace-border-visible"
widget "*Workspace-Border-*-empty*"      style "taffybar-workspace-border-empty"
widget "*Workspace-Border-*-hidden*"     style "taffybar-workspace-border-hidden"
widget "*Workspace-Border-*-urgent*"     style "taffybar-workspace-border-urgent"

widget "*Workspace-Container-*-active*"  style "taffybar-default"
widget "*Workspace-Container-*-visible*" style "taffybar-default"
widget "*Workspace-Container-*-empty*"   style "taffybar-default"
widget "*Workspace-Container-*-hidden*"  style "taffybar-default"
widget "*Workspace-Container-*-urgent*"  style "taffybar-default"
