name: Nix

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04  # FIXME
    name: Nix Flake - Linux
    permissions:
      contents: read
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          install_url: https://nixos-nix-install-tests.cachix.org/serve/i6laym9jw3wg9mw6ncyrk6gjx4l34vvx/install
          install_options: '--tarball-url-prefix https://nixos-nix-install-tests.cachix.org/serve'
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Clone project
        uses: actions/checkout@v3
      - name: Build
        # "nix build" builds with full optimization and includes a profiling
        # build, so just the build of xmonad-contrib itself takes 3 minutes.
        # As a workaround, we invoke cabal manually here.
        run: nix develop -c cabal v2-build -O0 -j
